[Desktop Entry]
Name=Bora
Comment=Screen Capture and Floating Window Utility
Exec=/home/USER_PLACEHOLDER/.local/bin/DINKIssTyle-Bora
Icon=utilities-terminal
Type=Application
Categories=Utility;
Terminal=false
